@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

// body{
//     background-color: rgb(32, 32, 32, 0.4);
// }
html{
    font-family: 'Poppins';
}

.custom-max-height{
    max-height: 300px;
}

.my-glassmorph{
    background: #ffffff1a;
    backdrop-filter: blur(16px) saturate(120%);
}

.my-footer{
    background-color: #39573B;
    padding: 60px;
}

.form-wrapper{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.my-input{
    border: 2px solid #39573b;
    transition: 0.4s ease-in-out;
    &:focus{
        border: transparent;
        box-shadow: 0 0 8px rgba(57, 89, 59, 0.9);
        outline: none;
    }
}

.c-pointer{
    cursor: pointer;
}

.my-fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}

.my-padding-top{
    padding-top: 100px;
}

.main-green{
    color: #EAFFBD;
}
.secondary-green{
    color: #39573B;
}

.custom-vh{
    height: calc(100vh - 154px);
}

.form-img-background{
    background-image: url('/FormImg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        pointer-events: none;
        z-index: 1;
    }
    & * {
       position: relative;
       z-index: 2; 
    }
}

.my-main-btn{
    border: none;
    background-color: #EAFFBD;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    span{
        margin: 0;
        font-weight: bold;
        color: #39573B;
    }
    &:hover{
        background-color: #39573B;
        span{
            color: #EAFFBD;
        }
    }
}

.ranking-btn{
    border: 1px solid #EAFFBD;
    background-color: #39573B;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    span{
        margin: 0;
        font-weight: bold;
        color: #EAFFBD;
    }
    &:hover{
        background-color: #EAFFBD;
        span{
            color: #39573b;
        }
    }
}

.border-none{
    border: none;
}

.add-note-btn{
    border: none;
    background-color: #EAFFBD;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    span{
        margin: 0;
        font-weight: bold;
        color: #39573B;
    }
    &:hover{
        border: 1px solid #EAFFBD;
        background-color: transparent;
        span{
            color: #EAFFBD;
        }
    }
}

.btn-unstyled{
    background-color: transparent;
    border: none;
}

.main-green-bg{
    background-color: #EAFFBD;
}
.secondary-green-bg{
    background-color: #39573B;
}

.my-secondary-btn{
    border: none;
    background-color: #39573B;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    span{
        margin: 0;
        font-weight: bold;
        color: #EAFFBD;
    }
    &:hover{
        background-color: #EAFFBD;
        span{
            color: #39573B;
        }
    }
}

.my-tertiary-btn{
    border: 1px solid #39573B;
    background-color: #EAFFBD;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    span{
        margin: 0;
        font-weight: bold;
        color: #39573B;
    }
    &:hover{
        background-color: #39573B;
        span{
            color: #EAFFBD;
        }
    }

}

.my-label{
    color: #39573B;
    font-weight: bold;
    font-size: 1.4rem;
}

.my-landing-bg{
    background-image: url('/HeroClaim.jpg');
    // min-height: 400px;
    height: 100vh;
    background-position: 0 40%;
    background-size: cover;
}
.my-tripimg-bg{
    min-height: 500px;
    background-position: 0 40%;
    background-size: cover;
}

.single-card{
    background-size: cover;
    background-position: center;
    min-height: 250px;
    overflow: hidden;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        pointer-events: none;
        z-index: 1;
    }
    & * {
       position: relative;
       z-index: 2; 
    }
}

.cta-wrapper{
    background-color: #39573b;
}

// small phone
@media screen and (min-width: 480px){
    .title-text-sm{
        font-size: 2rem;
    }
    .p-text-sm{
        font-size: 1rem;
    }

}

// tablet
@media screen and (min-width: 768px){
    .title-text-lg{
        font-size: 3rem;
    }
    .p-text-lg{
        font-size: 1.6rem;
    }
}

// desktop
// @media only screen and (min-width: 992px) {

// }