@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

body{
    background-color: rgb(32, 32, 32, 0.4);
}
html{
    font-family: 'Poppins';
}
.my-glassmorph{
    background: #ffffff1a;
    backdrop-filter: blur(16px) saturate(120%);
}

.my-footer{
    background-color: #39573B;
    padding: 60px;
}

.main-green{
    color: #EAFFBD;
}
.secondary-green{
    color: #39573B;
}

.my-main-btn{
    background-color: #EAFFBD;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    span{
        margin: 0;
        font-weight: bold;
        color: #39573B;
    }
    &:hover{
        background-color: #39573B;
        span{
            color: #EAFFBD;
        }
    }
}

.my-landing-bg{
    background-image: url('/HeroClaim.jpg');
    min-height: 400px;
    background-position: 0 40%;
    background-size: cover;
}

.single-card{
    background-size: cover;
    background-position: center;
    min-height: 250px;
    overflow: hidden;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        z-index: 1;
    }
    & * {
       position: relative;
       z-index: 2; 
    }
}